---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="소개"
	pubDate={new Date('2024-01-01')}
>
	<p>
		안녕하세요. 개발하며 배운 것들을 기록하는 블로그입니다.
	</p>
	<p>
		주로 개발 과정에서 겪은 문제와 해결 방법, 새롭게 알게 된 내용을 정리합니다.
	</p>
</Layout>
